[core]
	excludesfile = ~/.gitignore_global
    pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[user]
    name = Evan Hickman
    email = {{ .email }}
